* {
    margin: 0;
    padding: 0;
    /* outline: 2px solid purple; */
}

:root {
    --color-bg-blue: #181D31;
    --color-beige: #E6DDC4;
    --color-shadow-green: #678983;
    --color-text-beige: #E6DDC4;
    --color-text-green: #678983;
    --color-title: #EEEEEE;
    --color-title-shadow: black;
    --color-title-shadow-secondary: grey;
    --color-progress-bar: red;
    --height-progress-bar: 10px;
}

.nav {
    background-color: var(--color-bg-blue);
    display: flex;
    justify-content: space-between;
    padding: 0 4em;
}

.nav_logo {
    transition: all .75s;
}

.nav_logo:hover {
    transform: scale(1.08);
}

.nav_anim {
    animation: animLogo 1.5s forwards;
    opacity: 0;
}

.nav_anim_delayed {
    animation-delay: 1s;
    animation-duration: 1s;
}

.nav_containerBtn {
    display: flex;
    align-self: center; 
    gap: 4em; 
}

.btn {
    text-align: center;
    text-decoration: none;
    background-color: var(--color-beige);
    color: black;
    border-radius: 1em;
    box-shadow: 3px 3px var(--color-shadow-green);
    transition: all 0.5s;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    translate: 3px 3px;
    box-shadow: none;
}

.nav_btn {
    padding: .75em 1.25em;
}

.hero {
    min-height: 80vh;
    background-image: url("./assets/imagenes/codigo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: var(--color-title);
    text-shadow: 2px 2px var(--color-title-shadow-secondary), 6px 6px var(--color-title-shadow);
    font-size: 3.75rem;
    text-align: center;
}

.main {
    background-color: var(--color-bg-blue);
    padding: 5em 0;
}

.main_index {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

.title_secondary {
    color: var(--color-text-green);
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px var(--color-title-shadow);
}

.containerCards  {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card {
    max-width: 350px;
    width: 30%;
    padding-bottom: 1em;
    background-color: var(--color-beige);
    border: solid 5px var(--color-shadow-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
}

.card_img {
    width: 100%;
}

.card_p {
    width: 80%;
    text-align: center;
}

.card_btn {
    color: white;
    background-color: #181D31;
    box-shadow: 2px 4px var(--color-shadow-green);
    border-radius: 1em;
    padding: .75em 1.75em;
}

.footer {
    background-color: var(--color-text-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em;
}

.footer_left {
    max-width: 300px;
    display: flex;
    gap: 3em;
}

.footer_img {
    width: 40%;
}

.footer_title {
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    font-size: .9rem;
}

.main_historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10em;
}

.containerHistoria {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 1em;
}

.title_secondary_60per {
    width: 60%;
}

.title_secondary_50per {
    width: 50%;
}

.title_secondary_30per {
    width: 30%;
}

.containerHistoria_p {
    color: var(--color-text-beige);
}

.containerHistoria_p_40per {
    width: 40%;
}

.containerHistoria_p_50per {
    width: 50%;
}

.containerVideo {
    max-width: 910px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    gap: 1em;
}

.containerVideo:hover .containerPlayer {
    transform: translateY(0);
}

.video {
    width: 100%;
}

.containerPlayer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--color-beige);
    opacity: .9;
    transition: .5s;
}

.containerPlayer_hidden {
    transform: translateY(100%) translateY(calc(var(--height-progress-bar) * -1));
}

.progressBar {
    height: var(--height-progress-bar);
}

.progressBar_background {
    width: 100%;
    background-color: black;
}

.progressBar_foreground {
    width: 0;
    background-color: var(--color-progress-bar);
}

.containerControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
}

.btn_svg { 
    padding: .5em;
    width: 2em;
    height: 2em;
}

.btn_svg_polygon {
    fill: var(--color-text-green);
    stroke: var(--color-bg-blue);
    stroke-width: 2px;
}

.timer {
    display: flex;
}

.main_game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_wide {
    padding: .75em 8em;
}

@keyframes animLogo {
    from {
        opacity: 0;
        transform: translate(0, -20%);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}